/* universal style rules */

* {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff8c00;
}

.content { 
    
    width: 55%;
    margin: auto;
    
    
}

/* top navigation bar */

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #e8d100;
    
}

.topnav h5 {
    display: inline;
    
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-style: solid;
    border-color: #0000cd;
    background-color: #5da800;
}

.undernav {
    margin-top: 45px;
}


/* web forms & table*/

.web_form, .web_form form, table { 
    padding: 20px;
    margin: auto;
    width: 55%;
    background: #808000;
}

.web_form p, table {
    font-family: "Arial Black", Gadget, sans-serif;
    width: fit-content;
}

.web_form legend {
    font-family: "Arial Black", Gadget, sans-serif;
}

.web_form, .web_form form, .web_form p, .web_form legend, .web_form textarea, table, td, th {
    border: #0000cd;
    border-width: 5px;
    border-style: double;
}

.web_form a, .submit {
    border: #ff8c00;
    border-width: 5px;
    border-style: outset;
    margin: auto;
    width: 25%;
}

table {
    margin-bottom: 10px;
}


/* assignment links */

.assignment {
    color: #e8d100;
    border: #0000cd;
    border-width: 5px;
    border-style: double;

    margin-bottom: 10px;
    padding: 20px;
    margin-right: auto; 
    margin-left: auto; 
    width: 40%;


}

.assignment a  {
    color: #808000;
}

/* banner on top of webpages */ 
.banner {
    max-width: 100%;
    height: auto;
}

.images img{
    width: 50%;
    height: auto;
}

.invisible {
    visibility: hidden;
}

/*

@media screen and (max-width: 480px) {
    * {
        
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    * {
        
    }
}

@media screen and (min-width: 1024px) {
    * {
        
    }
}

*/