* {
    background-color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
}

.event_form, .event_form form{ 
    padding: 20px;
    margin: auto;
    width: 55%;
    background: olive;
}

.event_form p {
    font-family: "Arial Black", Gadget, sans-serif;
    width: fit-content;
}

.event_form legend {
    font-family: "Arial Black", Gadget, sans-serif;
}

.event_form, .event_form form, .event_form p, .event_form legend, .event_form textarea {
    border: mediumblue;
    border-width: 5px;
    border-style: double;
}

.event_form a, .submit {
    border: darkorange;
    border-width: 5px;
    border-style: outset;
}

@media screen and (max-width: 480px) {
    * {
        background-color: green;
    }
}

@media screen and (min-width: 480) and (max-width: 1024px) {
    * {
        background-color: blue;
    }
}

@media screen and (min-width: 1024px) {
    * {
        background-color: red;
    }
}