/* universal style rules */

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff8c00;
}

.web_form p,
table {
    font-family: "Arial Black", Gadget, sans-serif;
    width: fit-content;
}

.web_form legend {
    font-family: "Arial Black", Gadget, sans-serif;
}

.orb {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/******************************/


/*media query for smartphones */


/******************************/

@media screen and (min-width: 320px) and (max-width: 723px) {
    /* top navigation bar */
    .nav_menu {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        border-style: solid;
        border-color: #0000cd;
        background-color: #5da800;
        margin-bottom: 50px;
    }
    .nav_menu {
        background-color: #5da800;
    }
    .topnav {
        display: none;
    }
    .topnav h5:hover {
        background-color: #5da800;
        color: #e8d100;
        border-color: #ff8c00;
    }
    .nav_menu:hover .topnav {
        display: block;
    }
    .nav_menu:hover .topnav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 3px;
        padding-top: 3px;
        background-color: #e8d100;
        z-index: 2;
    }
    .nav_menu:hover .topnav a {
        background-color: #e8d100;
        text-decoration: none;
    }
    .nav_menu:hover .topnav h5 {
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        border-style: solid;
        border-color: #0000cd;
        background-color: #5da800;
    }
    .nav_menu:hover .active h5,
    .nav_menu:hover .active a {
        background-color: #0000cd;
        color: #ff8c00;
        border-color: #5da800;
    }
    .undernav {
        margin-top: 80px;
    }
    /* web forms & table*/
    .web_form,
    .web_form form,
    table {
        padding: 20px;
        margin: auto;
        width: 55%;
        background: #808000;
    }
    .web_form,
    .web_form form,
    .web_form p,
    .web_form legend,
    .web_form textarea,
    table,
    td,
    th {
        border: #0000cd;
        border-width: 5px;
        border-style: double;
    }
    .web_form a,
    .submit {
        border: #ff8c00;
        border-width: 5px;
        border-style: outset;
        margin: auto;
        width: 25%;
    }
    .web_form p,
    .web_form textarea {
        width: auto;
    }
    .web_form input,
    .web_form textarea {
        width: 90%;
    }
    table {
        margin-bottom: 10px;
    }
    .web_form input[type=checkbox],
    .web_form input[type=radio] {
        width: auto;
    }
    /* assignment links */
    .assignment {
        color: #e8d100;
        border: #0000cd;
        border-width: 5px;
        border-style: double;
        margin-bottom: 10px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }
    .assignment a {
        color: #808000;
    }
    /* banner on top of webpages */
    .banner {
        max-width: 100%;
        height: auto;
    }
    .images img {
        width: 50%;
        height: auto;
    }
    .invisible {
        visibility: hidden;
    }
    video,
    iframe {
        width: 100%;
        height: 100%;
    }
    video,
    iframe,
    audio {
        margin-bottom: 20px;
    }
    .invisible,
    .pic_gone {
        display: none;
    }
}


/*********************************************************************/


/*media query for smartphone landscape view and tablet portriat view */


/*********************************************************************/

@media screen and (min-width: 724px) and (max-width: 991px) {
    .content {
        width: 75%;
        margin: auto;
    }
    /* top navigation bar */
    .nav_menu {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        border-style: solid;
        border-color: #0000cd;
        background-color: #5da800;
        margin-bottom: 50px;
    }
    .nav_menu {
        background-color: #5da800;
    }
    .topnav {
        display: none;
    }
    .topnav h5:hover {
        background-color: #5da800;
        color: #e8d100;
        border-color: #ff8c00;
    }
    .nav_menu:hover .topnav {
        display: block;
    }
    .nav_menu:hover .topnav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 3px;
        padding-top: 3px;
        background-color: #e8d100;
        z-index: 2;
    }
    .nav_menu:hover .topnav a {
        background-color: #e8d100;
        text-decoration: none;
    }
    .nav_menu:hover .topnav h5 {
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        border-style: solid;
        border-color: #0000cd;
        background-color: #5da800;
    }
    .nav_menu:hover .active h5,
    .nav_menu:hover .active a {
        background-color: #0000cd;
        color: #ff8c00;
        border-color: #5da800;
    }
    .undernav {
        margin-top: 80px;
    }
    /* web forms & table*/
    .web_form,
    .web_form form,
    table {
        padding: 20px;
        margin: auto;
        width: 55%;
        background: #808000;
    }
    .web_form,
    .web_form form,
    .web_form p,
    .web_form legend,
    .web_form textarea,
    table,
    td,
    th {
        border: #0000cd;
        border-width: 5px;
        border-style: double;
    }
    .web_form a,
    .submit {
        border: #ff8c00;
        border-width: 5px;
        border-style: outset;
        margin: auto;
        width: 40%;
    }
    table {
        margin-bottom: 10px;
    }
    /* assignment links */
    .assignment {
        color: #e8d100;
        border: #0000cd;
        border-width: 5px;
        border-style: double;
        margin-bottom: 10px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }
    .assignment a {
        color: #808000;
    }
    /* banner on top of webpages */
    .banner {
        max-width: 100%;
        height: auto;
    }
    .images img {
        width: 50%;
        height: auto;
    }
    .invisible {
        visibility: hidden;
    }
    .left {
        grid-area: left;
    }
    .right {
        grid-area: right;
    }
    .images {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        grid-template-areas: "left right";
    }
    .images img {
        width: 100%;
    }
}


/*********************************/


/*general content for desk/laptop*/


/*********************************/

@media screen and (min-width: 992px) {
    .content {
        width: 55%;
        margin: auto;
    }
    /* top navigation bar */
    .topnav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        background-color: #e8d100;
    }
    .topnav a {
        background-color: #e8d100;
        text-decoration: none;
    }
    .topnav h5 {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-style: solid;
        border-color: #0000cd;
        background-color: #5da800;
    }
    .active h5,
    .active a {
        background-color: #0000cd;
        color: #ff8c00;
        border-color: #5da800;
    }
    .topnav h5:hover {
        background-color: #5da800;
        color: #e8d100;
        border-color: #ff8c00;
    }
    .undernav {
        margin-top: 45px;
    }
    /* web forms & table*/
    .web_form,
    .web_form form,
    table {
        padding: 20px;
        margin: auto;
        width: 55%;
        background: #808000;
    }
    .web_form,
    .web_form form,
    .web_form p,
    .web_form legend,
    .web_form textarea,
    table,
    td,
    th {
        border: #0000cd;
        border-width: 5px;
        border-style: double;
    }
    .web_form a,
    .submit {
        border: #ff8c00;
        border-width: 5px;
        border-style: outset;
        margin: auto;
        width: 25%;
    }
    table {
        margin-bottom: 10px;
    }
    /* assignment links */
    .assignment {
        color: #e8d100;
        border: #0000cd;
        border-width: 5px;
        border-style: double;
        margin-bottom: 10px;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }
    .assignment a {
        color: #808000;
    }
    /* banner on top of webpages */
    .banner {
        max-width: 100%;
        height: auto;
    }
    .images img {
        width: 50%;
        height: auto;
    }
    .invisible {
        visibility: hidden;
    }
    /************************************* UNDER CONSTRUCTION *************************************/
    .left {
        grid-area: left;
    }
    .right {
        grid-area: right;
    }
    /*
    .img1 {
        grid-area: img1;
    }
    .img2 {
        grid-area: img2;
    }
    .img3 {
        grid-area: img3;
    }
    .img4 {
        grid-area: img4;
    }
    .img5 {
        grid-area: img5;
    }
    .img6 {
        grid-area: img6;
    }
    */
    .images {
        grid-template-columns: repeat(2, 1fr);
        /*
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "img1 img4" "img2 img5" "img3 img6";
        */
        display: grid;
        grid-template-areas: "left right";
    }
    .images img {
        width: 100%;
    }
}